   <div class="ui container">
        <div class="row">
            <h1 style="text aligned center">Add New Comment to <%= blog.title %> </h1>
            <div style="width: 30%; margin: 40px auto;">
                <form action="/blogs/<%= blog._id %>/comments" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[author]" placeholder="author">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group">
                        <button class="ui black button">Submit!</button>
                    </div>
                </form>
                <a href="/blogs">Go Back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
