<% include ./partials/header %>


    <div id="landing-container" class="ui raised very padded text container segment">
        <div id="profile-img" class="ui container">
            <img id="profile-img" class="ui medium rounded image" src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=641&q=80">
        </div>
 		<h1>About me</h1>
     	<p>Bacon ipsum dolor amet chicken bresaola strip steak, pork loin filet mignon cow pancetta beef ribs. Alcatra pancetta corned beef meatloaf sirloin bacon. Ball tip kevin pork chop venison, alcatra pork loin turkey pork shank bacon. Jerky pork belly pork, bresaola cow kevin tenderloin short ribs tri-tip cupim shankle tongue chuck shank turducken.</p>

        <p>Tri-tip filet mignon beef fatback. T-bone bacon turducken, tongue shoulder prosciutto landjaeger tri-tip short ribs. Burgdoggen short ribs sirloin, andouille swine chuck pastrami landjaeger pig jerky ribeye chicken. Shank shoulder ham meatloaf cupim turducken shankle chicken tail drumstick porchetta spare ribs kielbasa turkey ground round. Prosciutto strip steak beef pork loin pork belly, short ribs meatloaf pastrami tri-tip venison shankle. Filet mignon ground round biltong hamburger.</p>

        <p>Picanha prosciutto jowl, buffalo meatball landjaeger sirloin t-bone. Ham tenderloin doner, ground round pork belly ham hock pork chop brisket ribeye tail flank porchetta. Tail sausage pig rump biltong. Jerky rump fatback swine sausage. Tenderloin beef pork loin strip steak. Sirloin bresaola andouille t-bone, short loin shankle ham hock. Bacon buffalo chicken, turducken beef ribs shankle swine hamburger shoulder t-bone tenderloin pork chop jowl.

        <p>Sirloin pork loin beef ribs, pork meatball bacon sausage kielbasa drumstick meatloaf pancetta prosciutto picanha pig ground round. Alcatra porchetta shoulder, landjaeger sausage swine pork beef cupim shank. Leberkas kielbasa shankle, boudin drumstick chicken jowl. Ground round shank fatback, ham hock ribeye flank doner jerky pork belly landjaeger tenderloin. T-bone burgdoggen ribeye brisket kevin leberkas pig capicola picanha. Ribeye leberkas fatback pork chop venison, tongue kevin porchetta boudin.</p>

        <p>Rump prosciutto pork belly pig ribeye, meatloaf pastrami. T-bone andouille pork loin frankfurter hamburger ball tip kielbasa corned beef swine landjaeger fatback pastrami shankle prosciutto. Shank ribeye sausage salami, tongue pastrami corned beef capicola drumstick. Beef tenderloin pork chop meatloaf salami jerky. Cupim tail pork loin, sausage filet mignon meatball shoulder chicken meatloaf brisket strip steak bacon boudin pork chop pancetta. Boudin t-bone meatloaf salami.</p>

        <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
		<a href="/blogs">
		   <div  class="ui animated button" tabindex="0">
              <div class="visible content">Let's go to the blogs</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
                </div>
            </div>
        </a>
    </div>


<body>

<% include ./partials/footer %>
