
<h1>Login!</h1>
 <div class="landing-container" class="ui raised very padded text container segment">
    <form class="authForm" action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login!">
    </form>
</div>

<% include ./partials/footer %> 
