.ui.segment:first-child {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
    opacity: .9;
    color: black;
}

.ui.text.container.segment.blogPost {
    background: rgb(153,153,153);
}

.blogPost p {
  background: rgb(153,153,153)
}


#mapid {
  max-width: 300px;
  margin: auto;
   height: 500px;
   margin-top: 100px;
   z-index: 0;
 }

#map {
  height: 500px;
  margin-top: 100px;
}

i.icon {
    font-size: 2em;
}

.label {
  font-size: 1.5rem;
}
 #blogLogin {
     margin: 7rem auto;
     position: relative;
     background-color: rgba(153,153,153,1);
     max-width: 200px;
     border-radius: 5px;
 }

 .ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    padding: 0;
}

.login {
  margin: 7rem auto;
  position: relative;
  background-color: rgba(153,153,153,1);
  max-width: 200px;
  border-radius: 5px;
}

.container.main {
    margin-top: 7.0em;
}

#gridContainer {
    margin: 20px 0;
}

.delete {
    display: inline;
}

.edit {
  float: left;
}

.commentButton {
  margin: 0.5rem;
  padding-right: 2rem;
}

body {
  background-color: #000;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80)
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1525610553991-2bede1a236e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1508213824875-83a3d36e72a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1471253794676-0f039a6aae9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1543807669-0d0730e95cb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

 /*Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

/*home page designe*/

#landing-container {
  z-index: 1;
  position: relative;
  text-align: center;
  margin: 15%;
  background: rgba(153,153,153,0.5);
  color: white;
  border-radius: 100px 50px;
  border-color: black;
  border-color: rgba(153,153,153,0.5);
}

.ui.inverted.menu {
    background: rgba(153,153,153,1);
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    background: 0 0;
    color: black;
    font-weight: 400;
}

.ui.animated.button {
    background-color: rgba(153,153,153,1);
}

#profile-img {
    margin: auto;
    text-align: center;
    border-radius: 100px 50px;
    padding: 25;
}

.authForm {
  z-index: 1;
}

hr.style14 {
  margin-top: -10px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*#newPost {*/
/*    -webkit-appearance: none;*/
/*       -moz-appearance: none;*/
/*            appearance: none;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*}*/
